.idea/misc.xml
.idea/modules.xml
.idea/money.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
__pycache__/app.cpython-310.pyc
__pycache__/NumberConvert.cpython-310.pyc
